<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>NDS Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/font-awesome.min.css" media="screen" rel="stylesheet" type="text/css">
    <link href="/assets/css/owl.carousel.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/media.css" rel="stylesheet" type="text/css">
    <script src="/assets/js/jquery-2.1.1.js"></script>
    <script src="/assets/js/bootstrap.js"></script>
    <script src="/assets/js/owl.carousel.js"></script>
</head>

<body>
    <!--Sign Up Start Here-->
    <div class="signupwrap">
        <div class="signbox equalHMWrap eqWrap">
            <div class="signupformbox">
                <div class="signupformboxCon">
                    <div class="signupwelrow">
                        <span class="amlaalogo"><img src="/assets/images/nds_logo.jpg" alt="NDS Logo" /></span>
                    </div>
                    <!--Signin Box Start Here-->
                    <div class="formContentbox">
                        <h3>Login to your account</h3>
                        <div class="form-group">
                            <label>Email Address</label>
                            <input class="form-control" type="text" placeholder="Johndoe@gmail.com" />
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input class="form-control" type="password" placeholder="Password" />
                        </div>
                        <div class="lostyourpasswordrw"><a href="/javascript:void(0);">Forgot Password?</a></div>
                        <div class="form-group">
                            <button class="loginbtn" type="submit">Submit</button>
                        </div>
                        <div class="signinwithrow">
                            <div>Copyright NOIDADEAFSOCIETY @2019</div>
                            <div class="socialmediarw">
                                <a class="btn btn-social-icon btn-facebook"><span class="fa fa-facebook"></span></a>
                                <a class="btn btn-social-icon btn-twitter"><span class="fa fa-twitter"></span></a>
                                <a class="btn btn-social-icon btn-instagram"><span class="fa fa-instagram"></span></a>
                                <a class="btn btn-social-icon btn-youtube-play"><span class="fa fa-youtube-play"></span></a>
                                <a class="btn btn-social-icon btn-linkedin"><span class="fa fa-linkedin"></span></a>
                            </div>
                        </div>

                    </div>
                    <!--Signin Box End Here-->
                </div>
            </div>
            <div class="signupleftimgbx">
                <div class="slidertxtwrap">
                    <div class="slidetxt owl-carousel toppro owl-theme">
                        <div class="item clearfix">
                            <div class="headingtxt">Noida Deaf Society</div>
                            <div class="nortxtsl">Noida Deaf Society is the leading institution that nurtures, mentors, trains and teaches deaf children. NDS empowers the deaf community in India to lead sustainable & self-reliant lives through customized trainings and employment.</div>
                        </div>
                        <div class="item clearfix">
                            <div class="headingtxt">Noida Deaf Society</div>
                            <div class="nortxtsl">Noida Deaf Society is the leading institution that nurtures, mentors, trains and teaches deaf children. NDS empowers the deaf community in India to lead sustainable & self-reliant lives through customized trainings and employment.</div>
                        </div>
                        <div class="item clearfix">
                            <div class="headingtxt">Noida Deaf Society</div>
                            <div class="nortxtsl">Noida Deaf Society is the leading institution that nurtures, mentors, trains and teaches deaf children. NDS empowers the deaf community in India to lead sustainable & self-reliant lives through customized trainings and employment.</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--Sign Up End Here-->
    <script>
        $(function() {
            $('.slidetxt').owlCarousel({
                loop: true,
                margin: 0,
                nav: false,
                dots: true,
                autoplay: true,
                responsive: {
                    0: {
                        items: 1
                    },
                    768: {
                        items: 1
                    },
                    1024: {
                        items: 1
                    }
                }
            });
        });
    </script>
</body>

</html>